{%extends "base.html"%}{%block content%}
  <!--Main layout-->
  <main class="mt-5 pt-5">
    <div class="container">

      <!--Section: Jumbotron-->
      <section class="card wow fadeIn" style="background-image: url(../static/img/landing2.jpg);background-repeat: no-repeat;background-size:cover;opacity:0.8">

        <!-- Content -->
        <div class="card-body text-white text-center py-5 px-5 my-5" style = "">

          <h1 class="mb-4" style="size:15em;">
            <strong>Welcome to myBlog</strong>
          </h1>
          <p style="size:3rem">
            <strong>Best & free blog Designs</strong>
          </p>
          <p class="mb-4" style="size:3em">
            <strong>Get started with your own Blog and get paid!</strong>
          </p>
          <a target="_blank" href="#" class="btn btn-outline-white btn-lg">Get Started!
            <i class="fas fa-graduation-cap ml-2"></i>
          </a>

        </div>
        <!-- Content -->
      </section>
      <!--Section: Jumbotron-->

      <hr class="my-5">

      <!--Section: Cards-->
      <section class="text-center">

        <!--Grid row-->
        <div class="row mb-4 wow fadeIn">
           
            {%for blog in blog_list%}
        
          <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-4">

            <!--Card-->
            <div class="card">

              <!--Card image-->
              <div class="view overlay" >
                <img src = "/media/{{blog.blog_img}}" height = "250rem" display="cover">
              </div>

              <!--Card content-->
              <div class="card-body blog-body blog-text">
                <!--Title-->
                <h4 class="card-title">{{blog.blog_title}}</h4>
                <!--Text-->
                <p class="card-text blog-text">{{blog.blog_text}}</p>
                
              </div>

            </div>
            <!--/.Card-->

          </div>
          {%endfor%}

        </div>

      </section>
      <!--Section: Cards-->
    </div>
  </main>
  <!--Main layout-->

{%endblock%}
